<!-- <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/" *ngIf="isAuthenticated">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="register" *ngIf="!isAuthenticated">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="login" *ngIf="!isAuthenticated">Sign In</a>
                </li>
                <li class="nav-item">
                    <a type="button" class="nav-link" style="cursor: pointer;" *ngIf="isAuthenticated"
                        (click)="logoutUser()">Log
                        out</a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->

<header id="header" class="container">

    <h1>
        <!-- Main page logo -->
        <a>Sangoma</a>
    </h1>


    <!-- Main navigation -->
    <nav class="main-navigation navbar navbar-default" role="navigation">

        <!-- Collapse navigation for mobile -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-navigation-collapse">
                <span class="elusive icon-home"></span> Sangoma
            </button>
        </div>
        <!-- /Collapse navigation for mobile -->

        <!-- Navigation -->
        <div class="main-navigation-collapse collapse navbar-collapse">

            <!-- Navigation items -->
            <ul class="nav navbar-nav">

                <!-- Active navigation items -->
                <li class="active">
                    <a routerLink="/"><span class="elusive icon-home"></span> Sangoma</a>
                </li>
                <!-- /Active navigation items -->

                <!-- Dropdown navigation items -->
                <li class="dropdown" *ngIf="isAuthenticated">
                    <a class="dropdown-toggle" routerLink="/" data-toggle="dropdown"><span
                            class="elusive icon-asl"></span>
                        Home</a>

                </li>
                <!-- /Dropdown navigation items -->

                <!-- Dropdown navigation with multi-level dropdown -->
                <li class="dropdown">
                    <a *ngIf="isAuthenticated" (click)="logoutUser()" class="dropdown-toggle"
                        data-toggle="dropdown"><span class="elusive icon-file"></span> Logout</a>

                </li>
                <!-- /Dropdown navigation with multi-level dropdown -->

                <li *ngIf="!isAuthenticated">
                    <a routerLink="register"><span class="elusive icon-info-sign"></span> Sign Up</a>
                </li>

                <li *ngIf="!isAuthenticated">
                    <a routerLink="login"><span class="elusive icon-info-sign"></span> Sign In</a>
                </li>
            </ul>
            <!-- /Navigation items -->

        </div>
        <!-- /Navigation -->

    </nav>
    <!-- /Main navigation -->

</header>