<form [formGroup]="searchForm">
    <input type="text" placeholder="Enter ID or Username or Country or State or City or Pin Code (Case Sensitive)" class="form-control" formControlName="searchQuery">
    <span>
        <button class="btn-primary btn btn-sm m-1" (click)="searchUser()">Search</button>
        <button class="btn-danger btn btn-sm m-1" (click)="onClear()">Clear</button>
    </span>
</form>

<div class="row mt-5">
    <div class="col">
        <app-users-list [users]="users" [filteredUsers]="filteredUsers"></app-users-list>
    </div>

    <div class="mt-5">
        <router-outlet></router-outlet>
    </div>

</div>