<!-- <form [formGroup]="searchForm" class="container">
    <input type="text" placeholder="Enter ID or Username or Country or State or City or Pin Code (Case Sensitive)"
        class="form-control" formControlName="searchQuery">
    <span>
        <button class="btn-primary btn btn-sm m-1" style="margin: 5px;" (click)="searchUser()">Search</button>
        <button class="btn-danger btn btn-sm m-1" style="margin: 5px;" (click)="onClear()">Clear</button>
    </span>

    <div>
        <select formControlName="itemsPerPage" class="form-control w-50" (change)="itemsPerPageChanged()">
            <option value="5" >5</option>
            <option value="10">10</option>
            <option value="15">15</option>
        </select>
    </div>

</form> -->

<form class="row  bg-danger" [formGroup]="searchForm" style="margin: 0 auto; padding: 0.5em;">

    <!-- Widget block -->
    <div class="col-sm-2 col-xs-6">
        <input type="text" class="form-control" formControlName="id" placeholder="User ID" (change)="searchUser()">
    </div>
    <!-- /Widget block -->

    <!-- Widget block -->
    <div class="col-sm-2 col-xs-6">
        <input type="text" class="form-control" formControlName="username" placeholder="Username"
            (change)="searchUser()">
    </div>
    <!-- /Widget block -->

    <!-- Widget block -->
    <div class="col-sm-2 col-xs-6">
        <select class="form-control" formControlName="country" (change)="searchUser()">
            <option *ngFor="let country of countries" value="{{country}}">{{country}}</option>
        </select>
    </div>
    <!-- /Widget block -->

    <!-- Widget block -->
    <div class="col-sm-2 col-xs-6">
        <input type="number" class="form-control" placeholder="Pin Code" formControlName="pinCode"
            (change)="searchUser()">
    </div>
    <!-- /Widget block -->

    <div class="col-sm-2 col-xs-6">
        <select class="form-control" id="select" formControlName="role" (change)="searchUser()">
            <option>Role</option>
            <option>add</option>
            <option>view</option>
            <option>none</option>
        </select>
    </div>

    <div class="col-sm-2 col-xs-6">
        <select class="form-control" formControlName="category" (change)="searchUser()">
            <option disabled>Category</option>
        </select>
    </div>

    <div class="col-sm-2 col-xs-6" style="margin-top: 0.5em;">
        <select class="form-control" formControlName="itemsPerPage" (change)="itemsPerPageChanged()">
            <option>5</option>
            <option>10</option>
            <option>15</option>
        </select>
    </div>

</form>


<div class="row" style="margin: 1em;">
    <div class="col">
        <app-users-list [users]="users" [filteredUsers]="filteredUsers" [itemsPerPage]="itemsPerPage"></app-users-list>
    </div>

    <div style="margin-top: 250px;">
        <router-outlet></router-outlet>
    </div>

</div>