<form [formGroup]="searchForm" class="container">
    <input type="text" placeholder="Enter ID or Username or Country or State or City or Pin Code (Case Sensitive)"
        class="form-control w-50" formControlName="searchQuery">
    <span>
        <button class="btn-primary btn btn-sm m-1" (click)="searchUser()">Search</button>
        <button class="btn-danger btn btn-sm m-1" (click)="onClear()">Clear</button>
    </span>

    <div>
        <select formControlName="itemsPerPage" class="form-control w-50" (change)="itemsPerPageChanged()">
            <option value="5" selected>5</option>
            <option value="10">10</option>
            <option value="15">15</option>
        </select>
    </div>

</form>


<div class="row mt-5">
    <div class="col">
        <app-users-list [users]="users" [filteredUsers]="filteredUsers" [itemsPerPage]="itemsPerPage"></app-users-list>
    </div>

    <div>
        <router-outlet></router-outlet>
    </div>

</div>