<div class="container">
    <form [formGroup]="passwordResetForm">
        <h3>Enter your new password</h3>

        <div class="alert alert-danger" *ngIf="err">
            {{err}}
        </div>

        <div class="row mb-3">
            <label for="password" class="col-sm-1 h5">Password</label>

            <div class="col-sm-5">
                <input type="password" class="form-control border-secondary" formControlName="password" id="password">

                <span *ngIf="!passwordResetForm.get('password').valid && passwordResetForm.get('password').touched">
                    <span *ngIf="passwordResetForm.get('password').errors['required']">
                        This field is required
                    </span>
                    <span *ngIf="passwordResetForm.get('password').errors['minlength']">
                        Password must contain minimum 6 characters
                    </span>
                </span>

            </div>

        </div>

        <div class="row mb-3">
            <label for="password2" class="col-sm-1 h5">Confirm Password</label>

            <div class="col-sm-5">
                <input type="password" class="form-control border-secondary" formControlName="password2" id="password2"
                    minlength="6">

                <span *ngIf="!passwordResetForm.get('password2').valid && passwordResetForm.get('password2').touched">
                    <span *ngIf="passwordResetForm.get('password2').errors['required']">
                        This field is required
                    </span>
                    <span *ngIf="passwordResetForm.get('password2').errors['minlength']">
                        Password must contain minimum 6 characters
                    </span>
                    <span *ngIf="passwordResetForm.get('password2').errors['passwordsDontMatch']">
                        Password must contain minimum 6 characters
                    </span>
                </span>
            </div>

        </div>

        <div class="mb-3 mt-3">
            <button class="btn btn-primary" (click)="onSubmit()" [disabled]="!passwordResetForm.valid">Reset</button>
        </div>

    </form>

</div>