<form class="container" [formGroup]="signInForm" (ngSubmit)="onSubmit()">

    <h3>Sign In</h3>

    <div class="alert alert-danger" *ngIf="errorMessage">
        {{errorMessage}}
    </div>

    <div class="row mb-3">
        <label for="email" class="col-sm-1 h5">Email</label>

        <div class="col-sm-5">
            <input type="email" id="email" class=" form-control border-secondary" formControlName="email">

            <span *ngIf="!signInForm.get('email').valid && signInForm.get('email').touched">
                <span *ngIf="signInForm.get('email').errors['required']">
                    This field is required
                </span>

                <span *ngIf="signInForm.get('email').errors['email']">
                    Please provide a valid email
                </span>
            </span>

        </div>
    </div>

    <div class="row mb-3">
        <label for="password" class="col-sm-1 h5">Password</label>

        <div class="col-sm-5">
            <input type="password" id="password" class=" form-control border-secondary" formControlName="password">

            <span *ngIf="!signInForm.get('password').valid && signInForm.get('password').touched">
                <span *ngIf="signInForm.get('password').errors['required']">
                    This field is required
                </span>
                <span *ngIf="signInForm.get('password').errors['minlength']">
                    Password must contain minimum 6 characters
                </span>
            </span>
        </div>

    </div>

    <span>
        <button [disabled]="!signInForm.valid" type="submit" style="margin-right: 10px;margin-top: 10px;"
            class="btn btn-primary">Sign
            In</button>
        <button class="btn btn-primary" style="margin-top: 10px;" (click)="toSignUp()">Sign Up</button>
    </span>
    <br><br>
    <span>
        <a routerLink="/forgot-password">
            Forgot Password?
        </a>
    </span>

</form>