<div class="p-3 mt-5">
    <h1>User has no medicine prescribed</h1>
    <table class="table" *ngIf="medicines.length > 0">
        <thead>
            <tr>
                <th scope="col">Sr. no</th>
                <th scope="col">Medicines</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let medicine of medicines; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{medicine}}</td>
            </tr>
        </tbody>
    </table>

    <button type="button" class="btn btn-danger" (click)="onClose()">Close</button>
</div>