<div class="container">
    <!-- Grid row -->
    <div class="row">

        <!-- Data block -->
        <article class="col-sm-9">
            <div class="data-block">
                <header>
                    <h2><span class="elusive icon-calendar"></span> Medicines prescribed to user</h2>
                    <ul class="data-header-actions">

                        <li class="demoTabs" [routerLink]="'active'"><a class="btn btn-alt"
                                [routerLink]="['/users', 'edit', _id]">Update profile</a></li>
                    </ul>
                </header>

                <div style="padding: 1em;">
                    <h1 *ngIf="noMedicines">User has no medicine prescribed</h1>
                    <table class="table" *ngIf="medicines.length > 0">
                        <thead>
                            <tr>
                                <th scope="col">Sr. no</th>
                                <th scope="col">Medicines</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let medicine of medicines; let i = index">
                                <th scope="row">{{i+1}}</th>
                                <td>{{medicine}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </article>

    </div>
</div>