<div *ngIf="errors">
    <div class="alert alert-danger" *ngFor="let message of errors">{{message}}</div>
</div>

<div *ngIf="success">
    <div class="alert alert-success" *ngFor="let message of success">{{message}}</div>
</div>

<div class="p-2">
    <h3>Upload Media</h3>

    <img [src]="imageUrl" width="100px" class="rounded-circle" alt="Profile Pic">

    <form class="p-3" [formGroup]="mediaForm" (ngSubmit)="onUpload()" enctype="multipart/form-data">

        <div class="row mb-3">
            <label for="profilePic" class="col-sm-1 h5">Profile Pic</label>

            <div class="col-sm-5">
                <input type="file" formControlName="profilePic" id="profilePic" (change)="onChangeImage($event)"
                    class="form-control border-secondary">

                <span *ngIf="!mediaForm.get('profilePic').valid">
                    <span *ngIf="mediaForm.get('profilePic').errors['extensionNotAllowd']">
                        Allowed extensions are {{allowedImageExtensions}}
                    </span>
                </span>
            </div>

        </div>

        <div class="row mb-3">
            <label for="someVideo" class="col-sm-1 h5">Some Video</label>

            <div class="col-sm-5">
                <input type="file" (change)="onChangeVideo($event)" formControlName="someVideo" id="someVideo"
                    class="form-control border-secondary">

                <span *ngIf="!mediaForm.get('someVideo').valid">
                    <span *ngIf="mediaForm.get('someVideo').errors['extensionNotAllowd']">
                        Allowed extensions are {{allowedVideoExtensions}}
                    </span>
                </span>
            </div>

        </div>

        <div class="row mb-3">
            <label for="someDocument" class="col-sm-1 h5">Some Document</label>

            <div class="col-sm-5">
                <input type="file" formControlName="someDocument" (change)="onChangeDocument($event)" id="someDocument"
                    class="form-control border-secondary">

                <span *ngIf="!mediaForm.get('someDocument').valid">
                    <span *ngIf="mediaForm.get('someDocument').errors['extensionNotAllowd']">
                        Allowed extensions are {{allowedDocumentsExtensions}}
                    </span>
                </span>
            </div>

        </div>

        <div class="mb-3 mt-3">
            <button type="submit" class="btn btn-outline-primary me-2" [disabled]="!mediaForm.valid">Upload</button>
            <button type="button" class="btn btn-outline-danger" (click)="onCancel()">Cancel</button>
        </div>
    </form>

    <video *ngIf="videoName" [src]="videoUrl" width="400px" controls></video>

</div>