<div>
  <form class="container" [formGroup]="userForm" (ngSubmit)="onSubmit()">

    <div class="mb-3">
      <h1>{{editMode ? 'Update user': 'Register user'}}</h1>
    </div>

    <div class="row mb-3">
      <label for="username" class="col-sm-1 h5">Username</label>
      <div class="col-sm-5">
        <input type="text" class="form-control border-secondary" id="username" formControlName="username">
      </div>
    </div>

    <div class="row mb-3">
      <label for="email" class="col-sm-1 h5">Email</label>
      <div class="col-sm-5">
        <input type="email" class="form-control border-secondary" id="email" formControlName="email">
      </div>
    </div>

    <div class="row mb-3" *ngIf="!editMode">
      <label for="password" class="col-sm-1 h5">Password</label>
      <div class="col-sm-5">
        <input type="password" id="password" class="form-control border-secondary" formControlName="password">
      </div>
    </div>

    <div class="row mb-3">
      <label for="phone" class="col-sm-1 h5">Phone</label>
      <div class="col-sm-5">
        <input type="number" class="form-control border-secondary" id="phone" formControlName="phone">
      </div>
    </div>

    <div class="row mb-3">
      <label for="dob" class="col-sm-1 h5">DOB</label>
      <div class="col-sm-5">
        <input type="date" class="form-control border-secondary" id="dob" formControlName="dob">
      </div>
    </div>

    <div class="row mb-3">
      <label for="country" class="col-sm-1 h5">Country</label>
      <div class="col-sm-5">
        <select id="country" formControlName="country" class="form-control border-secondary"
          (change)="countryChanged()">
          <option *ngFor="let country of countries" value="{{ country }}">
            {{ country }}
          </option>
        </select>
      </div>
    </div>

    <div class="row mb-3">
      <label for="state" class="col-sm-1 h5">State</label>
      <div class="col-sm-5">
        <select id="state" formControlName="state" class="form-control border-secondary" (change)="stateChanged()">
          <option *ngFor="let state of states" value="{{ state }}">
            {{ state }}
          </option>
        </select>
      </div>
    </div>

    <div class="row mb-3">
      <label for="city" class="col-sm-1 h5">City</label>
      <div class="col-sm-5">
        <select id="city" formControlName="city" class="form-control border-secondary">
          <option *ngFor="let city of cities" value="{{ city }}">{{ city }}</option>
        </select>
      </div>
    </div>

    <div class="row mb-3">
      <label for="pinCode" class="col-sm-1 h5">Pin Code</label>
      <div class="col-sm-5">
        <input type="number" [maxlength]="6" formControlName="pinCode" class="form-control border-secondary"
          id="pinCode" />
      </div>
    </div>

    <div class="row mb-3" *ngIf="editMode">
      <label for="pinCode" class="col-sm-1 h5">Medicines</label>
      <div class="col-sm-5">
        <button type="button" class="btn btn-primary btn-sm" (click)="onAddMedicine()">Add Medicine</button>
        <div class="mt-2" *ngFor="let control of getMedicineControls(); let i = index" formArrayName="medicines">
          <input type="text" class="form-control form-control-sm w-50 border-secondary" placeholder="Medicine name"
            [formControlName]="i">
        </div>
      </div>
    </div>

    <div class="row mb-3" *ngIf="adminMode">
      <label for="role" class="col-sm-1 h5">Role</label>
      <div class="col-sm-5">
        <select id="role" formControlName="role" class="form-control border-secondary">
          <option *ngFor="let role of roles" value="{{role}}">{{role}}</option>
        </select>
      </div>
    </div>

    <div class="ro mb-3">
      <button type="submit" class="btn me-2" [ngClass]="editMode ? 'btn-success' : 'btn-primary'">{{editMode ? 'Update'
        :
        'Register'}}</button>
      <button type="button" class="btn btn-danger" *ngIf="editMode" (click)="onCancel()">
        Cancel
      </button>
    </div>

  </form>

</div>