<div>
  <form class="container" [formGroup]="userForm" (ngSubmit)="onSubmit()">

    <div class="mb-3">
      <h1>{{editMode ? 'Update user': 'Register user'}}</h1>
    </div>

    <div class="row mb-3">
      <label for="username" class="col-sm-1 h5">Username</label>
      <div class="col-sm-5">
        <input type="text" class="form-control border-secondary" id="username" formControlName="username">
      </div>

      <span *ngIf="!userForm.get('username').valid && userForm.get('username').touched">
        <span *ngIf="userForm.get('username').errors['required']">
          This field is required
        </span>

        <span *ngIf="userForm.get('username').errors['usernameIsTaken']">
          Username is taken
        </span>
      </span>

    </div>

    <div class="row mb-3">
      <label for="email" class="col-sm-1 h5">Email</label>
      <div class="col-sm-5">
        <input type="email" class="form-control border-secondary" id="email" formControlName="email">
      </div>

      <span *ngIf="!userForm.get('email').valid && userForm.get('email').touched">
        <span *ngIf="userForm.get('email').errors['required']">
          This field is required
        </span>

        <span *ngIf="userForm.get('email').errors['emailIsTaken']">
          Email is taken
        </span>

        <span *ngIf="userForm.get('email').errors['email']">
          Please provide a valid email
        </span>
      </span>
    </div>

    <div class="row mb-3" *ngIf="!editMode">
      <label for="password" class="col-sm-1 h5">Password</label>
      <div class="col-sm-5">
        <input type="password" id="password" class="form-control border-secondary" formControlName="password"
          [minlength]="6">
      </div>

      <span *ngIf="!userForm.get('password').valid && userForm.get('password').touched">
        <span *ngIf="userForm.get('password').errors['required']">
          This field is required
        </span>

        <span *ngIf="userForm.get('password').errors['minlength']">
          Password must contain minimum 6 characters
        </span>
      </span>
    </div>

    <div class="row mb-3">
      <label for="phone" class="col-sm-1 h5">Phone</label>
      <div class="col-sm-5">
        <input type="number" class="form-control border-secondary" id="phone" formControlName="phone">
      </div>

      <span *ngIf="!userForm.get('phone').valid && userForm.get('phone').touched">
        <span *ngIf="userForm.get('phone').errors['required']">
          This field is required
        </span>

        <span *ngIf="userForm.get('phone').errors['phoneIsTaken']">
          Phone number is already in use
        </span>
      </span>
    </div>

    <div class="row mb-3">
      <label for="dob" class="col-sm-1 h5">DOB</label>
      <div class="col-sm-5">
        <input type="date" class="form-control border-secondary" id="dob" formControlName="dob">
      </div>

      <span *ngIf="!userForm.get('dob').valid && userForm.get('dob').touched">
        <span *ngIf="userForm.get('dob').errors['required']">
          This field is required
        </span>
      </span>
    </div>

    <div class="row mb-3">
      <label for="country" class="col-sm-1 h5">Country</label>
      <div class="col-sm-5">
        <select id="country" formControlName="country" class="form-control border-secondary"
          (change)="countryChanged()">
          <option *ngFor="let country of countries" value="{{ country }}">
            {{ country }}
          </option>
        </select>
      </div>

      <span *ngIf="!userForm.get('country').valid && userForm.get('country').touched">
        <span *ngIf="userForm.get('country').errors['required']">
          This field is required
        </span>
      </span>
    </div>

    <div class="row mb-3">
      <label for="state" class="col-sm-1 h5">State</label>
      <div class="col-sm-5">
        <select id="state" formControlName="state" class="form-control border-secondary" (change)="stateChanged()">
          <option *ngFor="let state of states" value="{{ state }}">
            {{ state }}
          </option>
        </select>
      </div>

      <span *ngIf="!userForm.get('state').valid && userForm.get('state').touched">
        <span *ngIf="!userForm.get('country').touched">
          Please select a country before selecting a state
        </span>

        <span *ngIf="userForm.get('country').touched && userForm.get('state').errors['required']">
          This field is required
        </span>
      </span>

    </div>

    <div class="row mb-3">
      <label for="city" class="col-sm-1 h5">City</label>
      <div class="col-sm-5">
        <select id="city" formControlName="city" class="form-control border-secondary">
          <option *ngFor="let city of cities" value="{{ city }}">{{ city }}</option>
        </select>
      </div>

      <span *ngIf="!userForm.get('city').valid && userForm.get('city').touched">
        <span *ngIf="!userForm.get('state').touched">
          Please select a state before selecting a city
        </span>

        <span *ngIf="userForm.get('state').touched && userForm.get('city').errors['required']">
          This field is required
        </span>
      </span>

    </div>

    <div class="row mb-3">
      <label for="pinCode" class="col-sm-1 h5">Pin Code</label>
      <div class="col-sm-5">
        <input type="number" [maxlength]="6" formControlName="pinCode" class="form-control border-secondary"
          id="pinCode" />
      </div>

      <span *ngIf="!userForm.get('pinCode').valid && userForm.get('pinCode').touched">

        <span *ngIf="userForm.get('pinCode').errors['sixDigitRequired']">
          Pin Code can have only 6 digits
        </span>

        <span *ngIf="userForm.get('pinCode').errors['required']">
          This field is required
        </span>
      </span>
    </div>

    <div class="row mb-3" *ngIf="editMode">
      <label for="pinCode" class="col-sm-1 h5">Medicines</label>
      <div class="col-sm-5">
        <button type="button" class="btn btn-primary btn-sm" (click)="onAddMedicine()">Add Medicine</button>
        <div class="mt-2" *ngFor="let control of getMedicineControls(); let i = index" formArrayName="medicines">
          <input type="text" class="input-sm" placeholder="Medicine name" [formControlName]="i">
        </div>
      </div>
    </div>

    <div class="row mb-3" *ngIf="adminMode">
      <label for="role" class="col-sm-1 h5">Role</label>
      <div class="col-sm-5">
        <select id="role" formControlName="role" class="form-control border-secondary">
          <option *ngFor="let role of roles" value="{{role}}">{{role}}</option>
        </select>
      </div>
    </div>

    <div class="ro mb-3">
      <button style="margin-right: 10px;margin-top: 10px; " type="submit" class="btn"
        [disabled]="!userForm.valid && !editMode" [ngClass]="editMode ? 'btn-success' : 'btn-primary'">{{editMode ?
        'Update'
        :
        'Register'}}</button>
      <button style="margin-top: 10px" type="button" class="btn btn-danger" *ngIf="editMode" (click)="onCancel()">
        Cancel
      </button>
    </div>

  </form>

</div>