input.ng-invalid.ng-touched {
    border: 1px solid red
}

select.ng-invalid.ng-touched {
    border: 1px solid red;
}

span {
    font-weight: bold;
}

.row {
    width: 70em;
}

@media only screen and (max-width: 790px) {
    .row {
        width: 50em;
    }
}

@media only screen and (max-width: 746px) {
    .row {
        width: 32em;
    }
}

.alert {
    width: 74.5%;
}

#navigation {
    width: 99em;
}